body {
  background-color: #fffff8;
  color: #111;
}
p {
  max-width: 70%;
}
#infoContainer {
  padding-left: 10%;
  padding-right: 15%;
}
#poemContainer {
  padding-top: 2%;
  padding-left: 10%;
  width: 50%;
  float: left;
}
#twitter-timeline {
  float: right;
  margin-right: 5%;
  padding-top: 2%;
}
.retro {
  line-height: 25%;
  font-size: 13px;
}
#tweets{
  float:left;
}
.tweedAdd {
	color: #3287E3;
}
#tag {
	font-size: 9px;
}